WEB-INF/docs
WEB-INF/lib/
WEB-INF/ref/
images/erddapTalk
images/gadgets
images/post
/content/
/data/
/target/
download_cache/
*.class
Thumbs.db
.vscode
.settings
.classpath
.project
/build/
/WEB-INF/build/
/out/
/.gradle/
src/test/resources/*
!src/test/resources/datasets/
.idea
development/test/datasets.xml
development/test/datasets.xml*
missingImage.txt
*.hprof
jmeter.log
development/jmeter/results.csv
