WEB-INF/docs
WEB-INF/lib/
WEB-INF/ref/
WEB-INF/temp/
WEB-INF/build/
images/erddapTalk
images/gadgets
images/post
/content/
/data/
/target/
*.class
Thumbs.db
.vscode
.settings
.classpath
.project
/build/
/out/
/.gradle/
/test-data/
.idea
development/test/datasets.xml
development/test/datasets.xml*
development/test/PH53_*
missingImage.txt
*.hprof
jmeter.log
development/jmeter/results.csv
