WEB-INF/docs
WEB-INF/lib/
WEB-INF/ref/
WEB-INF/temp/
images/erddapTalk
images/gadgets
images/post
/content/
/data/
/target/
download_cache/
*.class
Thumbs.db
.vscode
.settings
.classpath
.project
src/test/resources/*
