name: Push Build and test ERDDAP

on:
  push:
    branches: [ "main" ]
    tags:
      - 'v*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Free Disk Space Before Build
      run: |
        echo "Disk space before cleanup:"
        df -h
        sudo rm -rf /usr/share/dotnet
        sudo rm -rf /opt/ghc
        sudo rm -rf "/usr/local/share/boost"
        sudo rm -rf "$AGENT_TOOLSDIRECTORY"
        sudo rm -rf /usr/local/.ghcup
        sudo rm -rf /opt/hostedtoolcache/CodeQL
        sudo rm -rf /usr/local/lib/android/sdk/ndk
        sudo apt-get clean
        echo "Disk space after cleanup:"
        df -h
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: maven
    - name: Build and test with Maven
      run: >
        mvn --batch-mode
        -Dgcf.skipInstallHooks=true
        -Dmaven.test.redirectTestOutputToFile=true
        -Ddownload.unpack=true
        -Ddownload.unpackWhenChanged=false
        clean verify

  build-and-push-docker:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PUSH_TOKEN }}

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: erddap
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Docker Metadata action
        uses: docker/metadata-action@v5.7.0
        id: meta
        with:
          images: |
            erddap/erddap
            ghcr.io/erddap
          tags: |
            type=semver,pattern={{raw}}
            type=raw,value=alpha-latest,enable={{is_default_branch}}
            type=raw,value={{date 'YYYYMMDDTHHmmss}},enable={{is_default_branch}}
            
          # type=semver,pattern={{raw}} should cause an image to be
          # tagged with the version number from the tag, e.g., v1.2.3
          #
          # type=raw,value=latest,enable={{is_default_branch}}
          # will generate a `latest` tag for commits to the main branch
          #
          # type=raw,value={{date 'YYYYMMDDTHHmmss}}
          # will generate a tag with the current date and time

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          platforms: linux/amd64,linux/arm64
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
